<h2>検索</h2>

<%= form_tag(serach_search_path) do %>

<p>
日付検索：<input type="date" name="time" size="40"><br>
項目検索：<input type="text" name="name" size="40">
</p>
<p>
<input type="submit" value="送信"><input type="reset" value="リセット">
</p>
<% end %>