<p id="notice"><%= notice %></p>

<h1>リンク一覧</h1>

<table>
<thead>
  <tr>
    <th>関連タイトル</th>
    <th>リンク先</th>
    <th colspan="3"></th>
  </tr>
</thead>

<tbody>
  <% @rinks.each do |rink| %>
    <% if rink.url_syo.present? %>
      <tr>
        <td><%= rink.title_syo %></td>
        <td><%= link_to rink.url_syo, rink.url_syo %></td>
      </tr>
    <% end %>
  <% end %>
</tbody>
</table>

