<p id="notice"><%= notice %></p>

<div class="box14"><h1>リンク一覧</h1></div>

<table>
<thead>
  <tr>
  <br>
  <div class="box22"><th>関連タイトル</th></div>
  <div class="box22"><th>リンク先</th></div>
  </tr>
</thead>

<tbody>
  <% @rinks.each do |rink| %>
    <% if rink.url_syo.present? %>
      <tr>
        <td><%= rink.title_syo %></td>
        <td><%= link_to rink.url_syo, rink.url_syo %></td>
      </tr>
    <% end %>
  <% end %>
</tbody>
</table>

